<p-card
  class="image-card__item"
  [style]="{ width: '265px' }"
>
  <p-image
    width="265"
    class="image-card__image"
    [src]="card?.url"
    [preview]="true"
  ></p-image>
  <div class="image-card__details">
    <span class="image-card__details-caption">{{ card?.name }}</span>
    <div class="image-card__details-data-wrapper">
      <span class="image-card__details-data">{{ card?.date | date }}</span>
      <span class="image-card__details-data">{{ card?.size | imageSize }}</span>
    </div>
  </div>
</p-card>
